
           <div class="content">
                <div class="container-fluid">

		<%= form_tag({controller: :sentiment, action: :process_upload}, multipart: true) do %>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-warning card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">content_copy</i>
					                   Upload a Labelled Dataset
                                    </div>

                                    <div>
                                    <%= label_tag(:q, "Select a Tweet CSV file to upload:") %>
                                    <%= file_field_tag(:tweet_file) %>
                                    </div>

                                    <div>
                                    <%= label_tag(:q, "Collection Name:") %>
                                    <%= text_field_tag(:collection_name) %>  
                                    </div>

                                    <div>
                                    <%= label_tag(:q, "Label Set Name:") %>
                                    <%= text_field_tag(:label_set_name) %> 
                                    </div>

                                    <div>
                                    <%= submit_tag("Upload") %>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                       
                                    </div>
                                </div>
                            </div>
                    </div>
                    <% end %>

                    <div class="col-lg-12 col-md-12">
                            <div class="card">
                                <div class="card-header card-header-warning">
                                    <h4 class="card-title">Sentiment Analysis</h4>
                                    <p class="card-category">Select a Tweet collection for sentiment analysis</p>
                                </div>
                                <div class="card-body table-responsive">
                                    <table class="table table-hover">
                                        <thead class="text-warning">
                                            <th>Collection Name</th>
                                            <th></th>
                                        </thead>
                                        <tbody>
                                            <% @collections.each do |c| %>
                                                <tr>
                                                    <td><%= c.collection_name %></td>
                                                    <td><a href="view_data/<%= c.id %>">View</a></td>
                                                    <% @label_sets = LabelSet.where(collection_id: c.id) %>
                                                    <td>
                                                    <% if @label_sets.length > 0 %>
                                                        <%= form_tag({controller: :sentiment, action: :train_model}) do %>
                                                            <%= submit_tag("Use Labeled Set", class: "btn btn-default") %>
                                                            <select name="label_set_id">
                                                                <% @label_sets.each do |ls| %>
                                                                    <option value="<%= ls.id %>"><%= ls.label_set_name %></option>
                                                                <% end %>
                                                            </select>
                                                        <% end %>
                                                    <% end %>
                                                    </td>
                                                    <td>
                                                        
                                                        <!-- Trigger the modal with a button -->
                                                        <button type="button" class="btn btn-info btn-lg12" data-toggle="modal" data-target="#myModal<%= c.id %>">Create a New Sentiment Model</button>

                                                        <!-- Modal -->
                                                        <div id="myModal<%= c.id %>" class="modal fade" role="dialog">
                                                          <div class="modal-dialog">

                                                            <!-- Modal content-->
                                                            <div class="modal-content">
                                                              <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                <h4 class="modal-title">Select % of data for labelling:</h4>
                                                              </div>
                                                                <%= form_tag({controller: :sentiment, action: :show_training_page}) do %>
                                                              <div class="modal-body">
                                                                    <%= label_tag(:q, "Proportion of data for training:") %>
                                                                    <select name="percent">
                                                                        <option value="0.05">5 %</option>
                                                                        <option value="0.1">10 %</option>
                                                                        <option value="0.15">15 %</option>
                                                                        <option value="0.2">20 %</option>
                                                                    </select>

                                                                    <%= hidden_field_tag(:collection_id, c.id) %>

                                                              </div>
                                                              <div class="modal-footer">
                                                                <%= submit_tag("Begin Labelling", class: "btn btn-default") %>
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                              </div>
                                                                <% end %>
                                                            </div>
                                                            
                                                          </div>
                                                        </div>

                                                    </td>
                                
                                                </tr>
                                            <% end %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    
                </div>
            </div>   
