         <div class="main-panel"> 
           <div class="content">
                <div class="container-fluid">
                                        


<div class="col-lg-6 col-md-12">
                            <div class="card">
                                <div class="card-header card-header-tabs card-header-primary">
                                    <div class="nav-tabs-navigation">
                                        <div class="nav-tabs-wrapper">
                                            <span class="nav-tabs-title">Tasks:</span>
                                            <ul class="nav nav-tabs" data-tabs="tabs">
                                                <li class="nav-item">
                                                    <a class="nav-link active" href="#profile" data-toggle="tab">
                                                        <i class="material-icons">bug_report</i> Bugs
                                                        <div class="ripple-container"></div>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#messages" data-toggle="tab">
                                                        <i class="material-icons">code</i> Website
                                                        <div class="ripple-container"></div>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#settings" data-toggle="tab">
                                                        <i class="material-icons">cloud</i> Server
                                                        <div class="ripple-container"></div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="profile">
                                            <%= form_tag({controller: :sentiment, action: :train_model}) do %>
                                            <table class="table">
                                                <tbody>
                                                    <% idx = 0 %>
                                                    <% @tweets.each do |c| %>
                                                    <tr>
                                                        <td><%= c.tweet_text %></td>
                                                        <td><%= c.tweet_user %></td>
                                                        <td><%= c.tweet_time %></td>
                                                        <td>
                                                            <select name="sentiment<%= c.id %>">
                                                                <option value="1">Positive</option>
                                                                <option value="0">Objective</option>
                                                                <option value="-1">Negative</option>
                                                            </select>
                                                            <%= hidden_field_tag(:collection_id, c.id) %>
                                                        </td>
                                                        
                                                    </tr> 
                                                    <% end %>
                                                </tbody>
                                            </table>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%= submit_tag("Run Analysis", class: "btn btn-default") %>
                        <% end %>
                </div>
            </div> 
        </div>    