
           <div class="content">
                <div class="container-fluid">
                                        
                        

                        <div class="col-lg-12 col-md-15">
                            <div class="card">
                                <div class="card-header card-header-tabs card-header-primary">
                                    <div class="nav-tabs-navigation">
                                        <div class="nav-tabs-wrapper">
                                            <span class="nav-tabs-title">Sentiment Analysis Results</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="tab-content">
                                      <div class="container-fluid">
                                        <%= map(
                                          :center => {
                                            :latlng => [12.8797, 121.7740], 
                                            :zoom => 6
                                          }
                                        ) %>          
                                      </div>

                                        <script type="text/javascript">
                                            var heat = L.heatLayer(
                                                <%= raw @heat.to_json%>
                                            , {radius: 30, minOpacity: 0.5,  gradient: {0.1: 'green', 0.5: 'blue', 0.8: 'red'}}).addTo(map);
                                        </script>
                                        
                                        <div class="tab-pane active" id="profile">
                                            <%= form_tag({controller: :sentiment, action: :train_model}) do %>
                                            <table class="table">
                                                <tbody>
                                                    <% idx = 0 %>
                                                    <% @disp_tweets.each do |c| %>
                                                    <tr>
                                                        <td><%= c.tweet_text %></td>
                                                        <td><%= c.tweet_user %></td>
                                                        <td><%= c.tweet_time %></td>
                                                        <td><%= @pred[idx] %></td>
                                                        <% idx += 1 %>
                                                        <%= hidden_field_tag(:collection_id, c.id) %>
                                                    </tr> 
                                                    <% end %>
                                                </tbody>
                                            </table>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <% end %>
                </div>
            </div> 
