         
           <div class="content">
                <div class="container-fluid">
                                        
                        <div class="col-lg-12 col-md-12">
                            <div class="card">
                                <div class="card-header card-header-warning">
                                    <h4 class="card-title">Tweet Collections</h4>
                                    <p class="card-category">These are Tweets that you have previously uploaded or collected</p>
                                </div>
                                <div class="card-body table-responsive">
                                    <div class="card" style="width: 100%">
                                        <div class="card-header text-white bg-dark">
                                            <h5 class="card-title">Time Series Analysis</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    Number of Tweets: <%= @tweets.length %>
                                                    <%= area_chart @time_tweets %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card" style="width: 100%">
                                        <div class="card-header text-white bg-dark">

                                            <h5 class="card-title">Tweet Length Analysis</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    Average Tweet Length: <%= @avg_word_count %> word(s)
                                                    <%= column_chart @length_dist, download: true %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card" style="width: 100%">
                                        <div class="card-header text-white bg-dark">
                                            <h5 class="card-title">Tweetset</h5>
                                        </div>
                                        <div class="card-body">
                                            <a href="/export/<%= @job_id %>">Download CSV</a>
                                            <table class="table table-hover">
                                                <thead class="text-warning">
                                                    <th>Tweet Text</th>
                                                    <th>User Name</th>
                                                    <th>Time Posted</th>
                                                </thead>
                                                <tbody>
                                                    <% @tweets.each do |c| %>
                                                        <tr>
                                                            <td><%= c.tweet_text %></td>
                                                            <td><%= c.tweet_user %></td>
                                                            <td><%= c.tweet_time %></td>
                                                        </tr>
                                                    <% end %>
                                                </tbody>
                                            </table>
                                          </div>
                                    </div>  
                                </div>
                            </div>
                        </div>

                </div>
            </div> 
          